body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(1, 1, 42);
}
.container{
    min-width: 200px;
    box-shadow: 0 0 10px rgba(255,255,255,.2);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255,255,255,.05);
}

.timer{
    /* padding: 20px; */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    border-radius: .3rem;
    border: 1px solid cyan;
    color: cyan;
}
.actions{
    display: flex;
    gap: 20px;
}
.btn{
    border: 1px solid cyan;
    background: transparent;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: .4rem;
    transition: .2s all;
}
.btn:hover{
    border-color: transparent;
    box-shadow: 0 0 5px cyan, 0 0 10px cyan;
    background: rgba(255,255,255,.05);
}